In [3]:
import re
import pandas as pd

#Buscar un contacto
#Eliminar contacto
#Editar un contacto

#Funcion para validar un numero teléfonico 
def validar_numero_telefonico(telefono):
    regex = r'^\d{3} \d{3} \d{4}$'
    if re.match(regex, telefono):
        return True 
    else :
        return False
#Done. Ingresar multiples contactos hasta que se escriba la cadena 'parar'

# Validacion: 1) contacto repetido, 2) contacto o numero repetido ,

#4) Se debe poder ingresar un contacto completo o una parte

# Funciones que pueden ayudar al debug. mostrar todos los contactos, mostrar un subconjunto de contactos, ordenar contactos, buscar por diferentes parametros

# Done. Seria buena idea un ID interno ?

#Agregar un nuevo contacto
def agregar_info_contacto(id) :
    print('Ingresa los elementos que se van solicitando')
    nombre = input('Nombre: ')
    name = nombre
    apellido = input('Apellido: ')
    last_name = apellido
    #Validando que el número telefónico cumpla el formato 
    telefono_valido = False
    while telefono_valido == False :
        telefono = input('Teléfono a diez dígitos escritos de la siguiente forma: 3 dígitos espacio tres dígitos espacio 4 dígitos Ej. 556 293 28974: ')
        tel = str(telefono)
        if validar_numero_telefonico(tel) :
            telefono_valido = True
        else :
            print('Vuelve a ingresar el teléfono con el formato solicitado')

    correo = input('Correo electrónico: ')
    e_mail = correo
    id += 1 
    contacto ={'Id': [id],'Nombre': [name], 'Apellido': [last_name], 'Teléfono': [tel], 'email': [e_mail]}
    #print(pd.DataFrame(contacto))
    return(contacto, id)
#Recopilar información de búsqueda
def agregar_info_busqueda() :
#Intento fallido de asignar valores nan a las variables a traves de su nombre iterando en una lista
#for a in contacto_list :
#    print(a)
#    a = np.nan

    id = None
    name = None
    last_name  = None
    tel = None
    e_mail = None
    print('Entre mas elementos ingreses, tu busqueda será más precisa')
    opcion = 0
    while   opcion != 5 :
        opcion = int(input('Ingresa el número que indique el elemento por el cual quieres buscar \n 1) Nombre \n 2) Apellido\n 3)Teléfono\n 4)Correo electrónico\n 5)No tengo más elementos '))
        #print(opcion)
        if opcion == 1:
            name = input("Nombre:")
        elif opcion == 2:
            last_name = input("Apellido:")
        elif opcion == 3:
            tel = input("Teléfono:")
        elif opcion == 4:
            e_mail = input("Correo electrónico:")
        elif opcion == 5:
            print('El elemento que buscas es el siguiente:')
            contacto ={'Id': [id],'Nombre': [name], 'Apellido': [last_name], 'Teléfono': [tel], 'email': [e_mail]} 
            for key, value in contacto.items() :
                if key != 'Id' :
                    if value[0] != None :
                        print(key, ':', value[0])
            return(contacto)
        else:
            print('Escoge una opcion válida')

Agenda telefónica
 Menú de opciones
 1) Agregar un contacto nuevo
 2) Buscar un contacto
 3) Eliminar un contacto
 4) Editar un contacto
 5) Salir
Elegiste la siguiente acción:
Agregar contacto nuevo
Ingresa los elementos que se van solicitando
id ___ 1
Contacto agregado
Nombre : Juan
Apellido : Pérez
Teléfono : 555 123 1234
email : juan
  Id Nombre Apellido      Teléfono email
0  1   Juan    Pérez  555 123 1234  juan
Ingresa los elementos que se van solicitando
Vuelve a ingresar el teléfono con el formato solicitado
id ___ 2
Contacto agregado
Nombre : jorge
Apellido : Vazquez
Teléfono : 555 123 2345
email : jorge
  Id Nombre Apellido      Teléfono  email
1  2  jorge  Vazquez  555 123 2345  jorge
Agenda telefónica
 Menú de opciones
 1) Agregar un contacto nuevo
 2) Buscar un contacto
 3) Eliminar un contacto
 4) Editar un contacto
 5) Salir
Elegiste la siguiente acción:
Buscar un contacto
Agenda telefónica
 Menú de opciones
 1) Agregar un contacto nuevo
 2) Buscar un contacto
 3) Eliminar un contacto
 4) Editar un contacto
 5) Salir
Elegiste la siguiente acción:
Buscar un contacto
Agenda telefónica
 Menú de opciones
 1) Agregar un contacto nuevo
 2) Buscar un contacto
 3) Eliminar un contacto
 4) Editar un contacto
 5) Salir
Elegiste la siguiente acción:
Cerrar la agenda

In [7]:
id = 0    
agenda = pd.DataFrame(columns = ['Id','Nombre', 'Apellido', 'Teléfono', 'email'])
# Menu principal
while True:   
    print('Agenda telefónica \n Menú de opciones \n 1) Agregar un contacto nuevo \n 2) Buscar un contacto\n 3) Eliminar un contacto \n 4) Editar un contacto\n 5) Salir')
    opcion = input('Elige el número de la opción que desees: ')
    opcion = int(opcion)
    #print(opcion)
    print('Elegiste la siguiente acción:')
    if opcion == 1:
        continuar = 'continuar'
        print('Agregar contacto nuevo')
        while continuar.lower() != 'parar' :
            contacto , id = agregar_info_contacto(id)
            #print('id ___',id)
            print('Contacto agregado')
            for key, value in contacto.items() :
                if key != 'Id' :
                    if value[0] != None :
                        print(key, ':', value[0])
            agenda = pd.concat([agenda,pd.DataFrame(contacto)] ,ignore_index=True)
            #print(agenda[agenda['Id']== id])
            continuar = input('Escribe "parar" si ya no quieres agregar otro contacto de otro modo escribe c de continuar: ')
    elif opcion == 2:
        print("Buscar un contacto")
        contacto = agregar_info_busqueda()
        break
    elif opcion == 3:
        print("Eliminar un contacto")
    elif opcion == 4:
        print("Editar un contacto")
    elif opcion == 5:
        print("Cerrar la agenda")
        break  
    else:
        print('Elige una opcion que se encuentre en el menú')

Agenda telefónica
 Menú de opciones
 1) Agregar un contacto nuevo
 2) Buscar un contacto
 3) Eliminar un contacto
 4) Editar un contacto
 5) Salir
Elegiste la siguiente acción:
Agregar contacto nuevo
Ingresa los elementos que se van solicitando
Contacto agregado
Nombre : Violeta
Apellido : García Pérez
Teléfono : 555 123 7890
email : violeta
Ingresa los elementos que se van solicitando
Contacto agregado
Nombre : Karla
Apellido : Hernández
Teléfono : 555 123 8901
email : karla
Agenda telefónica
 Menú de opciones
 1) Agregar un contacto nuevo
 2) Buscar un contacto
 3) Eliminar un contacto
 4) Editar un contacto
 5) Salir
Elegiste la siguiente acción:
Buscar un contacto
Entre mas elementos ingreses, tu busqueda será más precisa
El elemento que buscas es el siguiente:
Nombre : Vera
Teléfono : 555 123 4567

In [8]:
agenda

  Id   Nombre      Apellido      Teléfono    email
0  1  Violeta  García Pérez  555 123 7890  violeta
1  2    Karla    Hernández   555 123 8901    karla

In [12]:
agenda_prueba = agenda

In [13]:
agenda_prueba

  Id   Nombre      Apellido      Teléfono    email
0  1  Violeta  García Pérez  555 123 7890  violeta
1  2    Karla    Hernández   555 123 8901    karla

In [14]:
contacto

{'Id': [None],
 'Nombre': ['Vera'],
 'Apellido': [None],
 'Teléfono': ['555 123 4567'],
 'email': [None]}

In [32]:
import pandas as pd

# Supongamos que tienes un DataFrame llamado df
df = pd.DataFrame({
    'Nombre': ['Juan', 'María', 'Pedro'],
    'Apellido': ['Pérez', 'Gómez', 'López'],
    'Edad': [25, 30, 35],
    'Ciudad': ['Madrid', 'Barcelona', 'Valencia']
})

# Supongamos que tienes un diccionario con los valores a buscar
valores_a_buscar = {'Nombre': 'Juan', 'Apellido': 'Pérez'}

# Realiza la búsqueda en el DataFrame
resultado = df.isin(valores_a_buscar)

# Imprime el resultado
print(resultado)

TypeError: only list-like or dict-like objects are allowed to be passed to DataFrame.isin(), you passed a 'str'

In [34]:
df = pd.DataFrame({
    'Nombre': ['Juan', 'María', 'Pedro'],
    'Apellido': ['Pérez', 'Gómez', 'López'],
    'Edad': [25, 30, 35],
    'Ciudad': ['Madrid', 'Barcelona', 'Valencia']
})
valores_a_buscar = {'Nombre': 'Juan', 'Apellido': 'Pérez'}

In [40]:
df

  Nombre Apellido  Edad     Ciudad
0   Juan    Pérez    25     Madrid
1  María    Gómez    30  Barcelona
2  Pedro    López    35   Valencia

In [61]:
result = df[df.isin(['Juan','Pérez'])]
result.dropna(how = 'all', inplace= True)
result

  Nombre Apellido  Edad Ciudad
0   Juan    Pérez   NaN    NaN

In [42]:
df.query("Nombre == 'Juan' or Apellido == 'Perez'")

  Nombre Apellido  Edad  Ciudad
0   Juan    Pérez    25  Madrid

In [56]:
contacto

{'Id': [None],
 'Nombre': ['Vera'],
 'Apellido': [None],
 'Teléfono': ['555 123 4567'],
 'email': [None]}

In [65]:
contacto_a_buscar =[]
for key, value in contacto.items() :
                if key != 'Id' :
                    if value[0] != None :
                        contacto_a_buscar.append(value[0])                       
                        print(key, ':', value[0])
contacto_a_buscar

Nombre : Vera
Teléfono : 555 123 4567

['Vera', '555 123 4567']

In [94]:
contacto_a_buscar =['Violet0','555 123 8902']

In [64]:
agenda

  Id   Nombre      Apellido      Teléfono    email
0  1  Violeta  García Pérez  555 123 7890  violeta
1  2    Karla    Hernández   555 123 8901    karla